[project]
	description = Vacuum cleaner simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Elias Mueggler (eliasm)
[access "refs/for/refs/*"]
	read = group user/Elias Mueggler (eliasm)
	push = group user/Elias Mueggler (eliasm)
	label-Code-Review = -2..+2 group user/Elias Mueggler (eliasm)
	label-Verified = -1..+1 group user/Elias Mueggler (eliasm)
	rebase = group user/Elias Mueggler (eliasm)
	removeReviewer = group user/Elias Mueggler (eliasm)
	submit = group user/Elias Mueggler (eliasm)
[access "refs/heads/*"]
	read = group user/Elias Mueggler (eliasm)
	create = group user/Elias Mueggler (eliasm)
	push = +force group user/Elias Mueggler (eliasm)
	pushMerge = group user/Elias Mueggler (eliasm)
[access "refs/tags/*"]
	push = group user/Elias Mueggler (eliasm)
	push = +force group user/Elias Mueggler (eliasm)
